.button {
  align-items: center;
  background: #05d465;
  border-radius: 0.3125rem;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 0.625rem;
  height: 2.25rem;
  justify-content: center;
  padding: 0.625rem;
  width: 10.4375rem;
  cursor: pointer;
}

.button a {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (max-width: 430px) {
  .button {
    width: 5rem;
    height: 2.25rem;
  }
  .button a {
    font-size: 0.575rem;
  }
}

@media screen and (min-width: 431px) {
  .button {
    width: 7rem;
    height: 2.25rem;
  }
  .button a {
    font-size: 0.575rem;
  }
}
