.container {
  margin: 6.75rem 13rem 0.5rem 12rem;
  display: flex;
  gap: 4.5rem;
}

.mainImg {
  width: 47.125rem;
  height: 30.3125rem;
  border-radius: 0.3rem;
}

.details {
  margin: 4.5rem 13rem 15rem 0.01rem;
  display: flex;
  flex-wrap: wrap;
}

.fresherNews {
  color: #c31815;
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.0175rem;
  margin-bottom: 1rem;
}

.fav {
  width: 1.125rem;
  height: 1rem;
  margin-left: 18rem;
}

.title {
  color:#2a2a2a;
  font-family: Serif;
  font-size: 2rem;
  font-weight: 600;
}

.description {
  margin: 1.3rem 0.01rem;
  color: #2a2a2a;
  font-family: Poppins;
  font-size: 0.9375rem;
  font-weight: 400;
}

.date {
  margin-top: 0.5rem;
  margin-right: 14.4rem;
  color: #2a2a2a;
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 400;
}

.details button:nth-child(2) {
  cursor: pointer;
  margin-left: 18rem;
  background-color: #f1f2f3;
  border: none;
}
