.container {
  width: 27.375rem;
  height: 20.6875rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  filter: drop-shadow(0px 2px 14px rgba(42, 42, 42, 0.24));
  padding: 2.25rem 1.5rem 4rem 1.5rem;
  margin: 2rem 0.01rem;
  border-radius: 0.5rem;
}

.container h3 {
  color: #2a2a2a;
  font-family: Serif;
  font-family: IBM Plex Serif;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container p:nth-child(2) {
  color: #2a2a2a;
  font-size: 0.9375rem;
  font-family: Nunito Sans;
  font-weight: 400;
  margin-bottom: 2rem;
}

.date {
  display: flex;
  gap: 6rem;
}

.date p {
  color: #2a2a2a;
  font-size: 0.9375rem;
  font-weight: 500;
  white-space: nowrap;
}

@media screen and (max-width: 430px) {
  .container {
    width: 20rem;
    height: 25rem;
    padding: 2.25rem 1.5rem 0.01rem 1.5rem;
    margin: 2rem 0.01rem;
  }
  .container button:nth-child(4) {
    background-color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }

  .date {
    display: flex;
    gap: 5rem;
  }
  
  .date button {
    width: 8rem;
  }
}

@media screen and (min-width: 431px) {
  .container {
    width: 20rem;
    height: 25rem;
    padding: 2.25rem 1.5rem 0.01rem 1.5rem;
    margin: 2rem 0.01rem;
  }
  .container button:nth-child(4) {
    background-color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 600px) {
  .container {
    width: 20rem;
    height: 25rem;
    padding: 2.25rem 1.5rem 0.01rem 1.5rem;
    margin: 2rem 0.01rem;
  }
  .container button:nth-child(4) {
    background-color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
}
