.header {
  display: flex;
  background-color: rgba(14, 14, 14, 0.85);
  width: auto;
  filter: drop-shadow(0px 4px 28px rgba(0, 0, 0, 0.25));
}

.header h1 {
  display: flex;
  align-items: center;
  margin-left: 45rem;
  color: #d8cece;
  font-family: Poller One;
  font-weight: lighter;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}

.logo {
  height: 5rem;
  width: 6rem;
  opacity: 0.8;
}
